{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Us</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>Contact Us</h1>
    </header>
    <main>
        <p>If you have any questions, feel free to reach out!</p>
        <ul>
            <li><strong>Email:</strong> food@restaurantapp.com</li>
            <li><strong>Phone:</strong>+91 4747384784</li>
            <li><strong>Address:</strong>293 Foodstreet, Hyderabad, India</li>
        </ul>
    </main>
</body>
</html>


