<!-- templates/homepage.html -->
<!DOCTYPE html>
<html>
<head>
    <title>{{ restaurant_name }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="stylesheet" href="{% static 'css/homepage.css">
    <header>

        <img src="{% static 'images/logo.png %}" alt="Restarurant Logo" style="max-width: 200px; display: block; margin: 0 auto;">
        <h1>Welcome to Our Restarurant</h1>
    </header>

</head>
<body>
    <h1>Welcome to {{ restaurant_name}}!</h1>
    <p>We're glad you're here. Enjoy browsing our menu and services.</p>
    <form method="GET" action="#" class="search-form">
        <input type="text" name="query" placeholder="Search menu items..." class="search-input">
        <button type="submit" class="search-button">Search</button>
    </form>

    
</body>
</html>
