<!DOCTYPE html>
<html lang='en'
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
content="width=device-width, initial-scale=1.0">
    <title>Reservations</title>
    <style>
      body{
        font-family: Arial,sans-serif;
        background-color: #4f4f4f;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    
      }
      h1{
        color:#333;
      }
    </style>
</head>
<body>
{% extends 'base.html' %}
{% block title %}Reservations{% endlock %}
{% block content %}
    <div class="text-align:center;padding: 20px">
        <h1>Reservations Page</h1>
        <p>This page is under construction.
            Reservations feature will be available soon!
        </p>
    </div>
    {% endblock %}
    {% include 'footer.html' %}
</body>
</html>

